dontaudit hal_atrace_default debugfs_tracing_debug:file rw_file_perms;
dontaudit linkerconfig self:capability kill;
dontaudit zygote self:capability kill;