#============= hal_mtdservice_default ==============
type hal_mtdservice_default, domain;
type persist_data_file, domain;
allow hal_mtdservice_default persist_data_file:dir getattr;
allow hal_mtdservice_default self:capability { dac_override dac_read_search };